<nav class="navbar">
  <!-- Logo -->
  <div class="logo-container">
    <a routerLink="/home">
      <img src="assets/Logo.png" alt="Big-Is-Better Logo" class="logo">
    </a>
  </div>

  <!-- Logo Text -->
  <div class="logo-text">
    <span>Big-Is-Better</span>
  </div>

  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" placeholder="Buscar..." class="search-bar">
  </div>

  <!-- Navigation Links -->
  <div class="nav-links">
    <a routerLink="/catalogo">Catálogo</a>
    <a routerLink="/home">Acerca de Nosotros</a>
    <a routerLink="/pedidos">Carrito de Compras</a>
    <a routerLink="/login" class="login-link">Iniciar Sesión</a>
  </div>
</nav>
