<div class="home-container">
    <div class="home-box">
  
      <!-- Recuadro Central -->
      <div class="center-box">
        <div class="table-container">
          <!-- Imagen Izquierda -->
          <div class="image-cell">
            <img src="https://i.pinimg.com/736x/71/7b/83/717b830f7813eb15a54aefc48e3fea2d.jpg" alt="Big-Is-Better Logo" class="logo">
          </div>
  
          <!-- Texto Central -->
          <div class="text-cell">
            <!-- Recuadro Negro con Título -->
            <div class="title-box">
              <h1>BIG-IS_BETTER</h1>
            </div>
  
            <!-- Recuadro Rojo con Descripción -->
            <div class="description-box">
              <p>
                Big-Is-Better es mucho más que una tienda, es un espacio dedicado al
                descubrimiento, la pasión y el empoderamiento personal. Diseñada para quienes
                buscan explorar el placer sin tabúes, nuestra boutique ofrece una selección
                cuidadosamente curada de juguetes para adultos, lencería irresistible y productos
                eróticos premium. Con un enfoque en la privacidad, el confort y la discreción, te
                invitamos a transformar tus fantasías en realidad en un ambiente elegante y
                acogedor, donde tu satisfacción es nuestra prioridad.
              </p>
            </div>
            <div class="horizontal-box">
                <img src="https://i.pinimg.com/736x/a1/31/05/a13105c984775885d15dec8a0ad08ebf.jpg" alt="Imagen Representativa" class="horizontal-image">
              </div>
            </div>
          </div>
        </div>
  
        
  
    </div>
  </div>
  