<div class="login-container">
    <div class="logo-section">
      <img src="assets/logo.png" alt="Logo Sex Shop" class="logo" />
    </div>
    <div class="form-section">
      <h2>Login</h2>
      <form>
        <input type="text" placeholder="user" class="input-field" />
        <input type="password" placeholder="password" class="input-field" />
        <div class="button-group">
          <button class="recover-btn">Recuperar Contraseña</button>
          <button class="login-btn">Ingresar</button>
        </div>
      </form>
    </div>
</div>
  